@font-face {
  font-family: 'Chopin Script';
  src: url('font/Sontiro.ttf');
  
}
@font-face {
  font-family: 'Dancing Script';
  src: url('font/Dancing Script.ttf');
}

@keyframes shake {
  0%, 100% { transform: translateX(0px); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.center {
  display: flex;
  justify-content: center;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family:'Dancing Script';
  font-size: 30px;
}

.countdown p {
  margin: 0;
  display: inline-block; 
  margin-left: 45px;  
}

.countdown:last-child {
  padding-right: 35px;
}

.input-error {
  border: 1px solid red !important;
  animation: shake 0.5s; 
  animation-iteration-count: 1; 
}

.input-error-option {
  animation: shake 0.5s; 
  animation-iteration-count: 1; 
}


/* Pin Page */
.pin-input.error {
  animation: shake 0.5s; 
  animation-iteration-count: 1; 
}

.pin-access-form { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-input, .pin-button { 
  color: #333;
  border-radius: 25px;
  font-size: 22px;
  border: 2px solid #888;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
}

.pin-input {
  width: 200px;
  outline: none; 
}

.pin-input:focus { 
  border-color: #666;
}

.pin-button {
  font-family: 'Dancing Script';
  margin-top: 30px;  
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 140px
}

.pin-button:hover {
  color: white;
  background-color: #999;
}

#main-content {
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 1s ease-out, visibility 1s ease-out; 
}

#main-content.visible {
  opacity: 1;
  visibility: visible; 
}

.center-content { /* PIN */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
/* END Pin Page 
*/

/* General */
body {
  font-family: 'Georgia', serif;
  font-weight: normal;
  background-color: #f9f9f9;
  margin: 0; 
  min-height: 100vh;
  color: #333;
}

section {
  padding: 0 20px; /*side padding */
  margin: 40px 0;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Dancing Script';
  font-weight: normal;
}

h3 {
  margin-top: 60px;
}
/* END General
*/

/* Navigation */
.header {
  margin-bottom: 50px; 
}

.navbar {
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
  color: #333;
}

.navbar h1 { /*Olivia & Kumail*/
  font-size: 34px;
  font-family: 'Chopin Script';
  letter-spacing: 1px;
  margin: 0;
}

.navbar p { /*Date */
  font-size: 15px;
  letter-spacing: 1px;
  /*text-transform: lowercase; */
  margin: 0;
}

.nav-links { /*Navigation Pages */
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navbar a {
  color: #777;
  text-decoration: none;
  font-size: 16px;
}

.navbar a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.navbar a:hover {
  color: #555;
}

/* END Navigation 
*/

/* Hamburger Menu */
.navbar input[type="checkbox"] {
  display: none; 
}

.hamburger-lines {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-lines .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.6s ease;
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg) translateY(14px);
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  opacity: 0;
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg) translateY(-14px);
}

/* END Hamburger Menu 
*/

/* Home Page */
.image {
  width: 85%;
  padding-bottom: 50px;
}

/* END Home Page
*/

/* Event Details 
.image-banner {
  background: url('../images/ring.jpg') no-repeat center center;
  background-size: 550px auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
*/

.image-banner h2 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 3px;
}

.image-banner p {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 18px;
}

.details-item h3 {
  font-size: 26px;
  margin: 0;
  font-weight: normal;
}

.details-item p {
  margin-top: 10px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.details-item {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  padding: 20px;
  text-align: center; 
  position: relative;
}

/**
.details-item:nth-child(-n+2) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
*/

.details-item:first-child::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #ddd; /* line color */
  right: -10px; /* adjust depending on your spacing needs */
  top: 0;
}

/* END Event Details 
*/ 

/* Dress Code */
.dressCode {
  text-align: center;
}

.image-containers {
  display: flex;
  justify-content: center;
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;
}

.image-container-first {
  margin-bottom: 100px;
}

.image-container-second {
  margin-bottom: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 800px;
  width: 100%; 
  margin: 0 auto; 
}

.image-grid img {
  width: 100%;
  height: auto;
}

/* END Dress Code 
*/
.venue {
  width: 70%;
}

/* Location */
.venue-details {
  margin: 4% 7% 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  gap: 20px; 
}

/* Styles for both the Venue Image and the Map */
.venue-image, .map {
  flex: 1; 
  width: calc(50% - 10px); 
}

/* Venue Image */
.venue-image {
  height: 100%; 
  object-fit: cover; 
  display: block; 
}

/* Map Container */
.map {
  display: flex; 
  align-items: stretch; 
}

/* Map Iframe */
.map iframe {
  flex-grow: 1; 
  width: 100%; 
  height: 100%; 
  border: 0;
}

/* END Location 
*/

/* RSVP */
.rsvp-banner {
  font-family: 'Dancing Script';
}

.rsvp-banner p {
  font-family: 'Georgia', serif;
}

.rsvp-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  max-width: 600px; 
  width: 100%;
  margin: 0 auto; 
  margin-top: 50px;
}

.rsvp-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.rsvp-form-group label {
  font-family: 'Georgia', serif;
  flex-basis: 30%; 
  margin-right: 80px; 
  white-space: nowrap;
}

#rsvp-form {
  width:100%
}

.rsvp-form-group input,
.rsvp-form-group select,
.rsvp-form-group textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  font-family: 'Georgia', serif;
  font-size: 16px;
  flex-basis: 70%; 
  background-color: white;
  box-sizing: border-box; 
  
}

.rsvp-form-group input:focus,
.rsvp-form-group select:focus,
.rsvp-form-group textarea:focus {
  border: 2px solid #999;
  outline: none;
}

.rsvp-form-group textarea {
  resize: none;
}

.rsvp-submit-button {
  color: #333;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid #999;
  margin: 25px auto;
  background-color: #fff;
  font-family: 'Dancing Script';
  padding: 8px 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-top: 50px;
  font-weight: normal;
}

.rsvp-submit-button:hover {
  color: white;
  background-color: #999;
}

.radio-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-item {
  display: block; 
  position: relative;
  padding-left: 35px; 
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  white-space: nowrap;
  text-align: left;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0; 
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-item input:checked ~ .checkmark {
  background-color: #888;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-item input:checked ~ .checkmark:after {
  display: block;
}

.radio-item .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#message-sent, #message-sent-failed {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 9999; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white; 
  display: none; 
  text-align: center;
}

.rsvp-form-group {
  width: 100%;
  overflow-x: hidden; /* Hide any horizontal overflow */
}
/* END RSVP
*/

/* Photo Page */
.photoPage {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 100px;
  justify-content: center;
}

.photoPage p {
  font-size: 36px;
  font-family: 'Dancing Script';
}

.photoPage p2 {
  font-size: 26px;
  font-family: 'Dancing Script';
}

/* END Photo Page 
*/

/* Mobile styles */
@media (max-width: 745px) {
  .rsvp-form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .rsvp-form-group label {
    margin-bottom: 7px;
  }

  .rsvp-form-group input,
  .rsvp-form-group select,
  .rsvp-form-group textarea {
    width: 100%;
  }

  .radio-item:first-child {
    padding-bottom: 20px; 
  }

  .radio-item:last-child {
    padding-bottom: 0; 
  }

  .radio-item {
    margin-left: 0px;
}
}

@media (max-width: 845px) {
  /* General */

  h2, h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  section {
    margin: 0;
    margin-bottom: 50px;
  }
  
  /* END General 
  */

  /* Navigation */
  .hamburger-lines {
    display: flex; 
    z-index: 2;
  }

  .navbar h1 {
    padding-top: 33px;
    font-size: 24px;
  }

  .navbar p {
    font-size: 11px;
  }

  .nav-links {
    flex-direction: column; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9; 
    align-items: center; 
    transform: translateX(-100%); 
    transition: transform .5s ease-in;
    z-index: 1;
  }

  .nav-links a {
    font-size: 18px; 
    margin-bottom: 5px; 
    color: #333;
  }

  input[type="checkbox"]:checked ~ .nav-links {
    transform: translateX(0);
  }

  #menu-toggle:checked ~ .hamburger-lines {
    position: fixed;
  }
  

  /* END Navigation
  */

  /* Pin Page*/
  .center-content {
    font-size: 18px;
    padding: 10px;
  }

  .pin-access-form {
    width: 80%; 
    margin: 0 auto;
  }

  .pin-input {
    font-size: 1em; 
    width: 100%; 
  }

  .pin-button {
    font-size: 1em;
  }

  /* END Pin Page 
  */

  .countdown {
    font-size: 20px;
    gap: 5px;
  }
  
  .countdown p {
    margin-left: 25px; 
    
  }

    /* Event Details */
  .details-grid {
    grid-template-columns: 1fr;
  }

  .details-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .details-item:first-child::after {
    display: none;
  }

  .image-banner h2 {
    font-size: 38px;
  }

  .image-banner {
    margin-top: 0;
  }

  /* End Event Details
  */

  /* Dress Code */
  .image-container { 
    margin-top: 10px;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* END Dress Code 
  */

  /* Location */
  .venue-details {
    flex-direction: column; 
  }

  .venue-image, .map {
    width: 100%; 
    max-width: none;
  }

  .map iframe {
    width: 100%; 
    height: 300px; 
  }

  /* End Location
  */

  /* Photo Page */
  .photoPage p {
    font-size: 30px;
  }
  
  .photoPage p2 {
    font-size: 22px;
  }

  /* END Photo Page
  */

  .rsvp-form-container {
    margin-top: 30px;
  }
}

@media (max-width: 300px) {
  /* Event Details */
  .image-banner h2 {
    font-size: 24px;
  }

  .image-banner p  {
    font-size: 14px;
  }

  .image-banner {
    margin-top: 0;
  } 
}

